header h1 {
  margin: 1 auto;
  padding: 0 auto;
  text-align: center;
  color: #a87e86;
  outline: 5px dotted;
}

h2 {
  margin-top: 1;
  margin-bottom: 0;
  text-align: center;
  color: #f5b7b1;
}
.container {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  background: #a87e86;
  padding: .50rem;
}

.container__item--right {
  margin-left: auto;
}

.logo img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_1 {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  background: #a87e86;
  padding: .25rem;
}

hr {
   border: dashed 2px;
   color: deeppink;
}
.switch-button {
  display: flex;
  border-radius: 9999px;
  height: 32px;
  width: 64px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.3);

  background-color: #357edd;
  border: 1px solid #357edd;
  justify-content: flex-end;
}

.label-input {
  display: none;
}

.label-circle {
  border-radius: 9999px;
  width: 32px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: yellow;
}

.container_2 {
  align-items: center;
  display: flex;
  list-style-type: none;
  margin: 0;
  
  padding: .50rem;
  justify-content: space-around;
}

.container_3 {
  position: relative;
}

.button__pause {
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 24px;
  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: double;
  border-width: 0px 0 0px 14px;
  margin-top: 5px;
  font-size: 22px;

}
div.button__pause {
  position: absolute;
  right: 280px; /*most likely to change*/
  width: 200px;
  height: 22px;
}

.button__pause:hover {
  border-color: transparent transparent transparent #404040;
}

.btn {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid black;
}

.hollow-click {
  border: 3px solid grey;
  background-color: white;
  color: grey;
  padding: 6px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 9999px;
}
